footer
    div.row
        div(class=["col", "span-1-of-2"])
            ul.footer-nav
                li
                    a(href="#") About Us
                li  
                    a(href="#") Blog
                li
                    a(href="#") Press
                li  
                    a(href="#") iOS App
                li  
                    a(href="#") Android App
        div(class = ["col", "span-1-of-2"])
            ul.social-links
                li
                    a(href="#") 
                        i.ion-social-facebook
                li
                    a(href="#") 
                        i.ion-social-twitter
                li
                    a(href="#") 
                        i.ion-social-googleplus
                li
                    a(href="#") 
                        i.ion-social-instagram

    div.row
        p Copyright &copy; 2019 by Foodie Chacha. All Rights Reserved.