extend base
block mainBlock
    section#form.section-forget
        .row
            h2 Forget PassWord
        .row
            form.forget-form
                .row.forget-field
                    .col.span-3-of-3
                        label(for='email') Email
                    .col.span-3-of-3
                        input#email(type='email' placeholder='Your Email' name='email' required='' value='')
                .row.forget-field
                    .col.span-1-of-1(style="width: 0%")
                    .col.span-2-of-2
                        input(type='submit' value='Submit')

