doctype html
// -
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible' content='ie=edge')
        link(rel='stylesheet' href='/vendors/css/normalize.css')
        link(rel='stylesheet' href='/vendors/css/grid.css')
        link(rel='stylesheet' href='/vendors/css/ionicons.min.css')
        link(rel='stylesheet' href='/vendors/css/animate.css')
        link(rel='stylesheet' href='/resources/css/style.css')
        link(rel='stylesheet' href='/resources/css/queries.css')
        link(href='https://fonts.googleapis.com/css?family=Lato:100,300,300i,400&display=swap' rel='stylesheet')
        title Foodie Chacha
        link(rel='apple-touch-icon' sizes='180x180' href='/resources/favicons/apple-touch-icon.png')
        link(rel='icon' type='image/png' sizes='16x16' href='/resources/favicons/favicon-16x16.png')
        link(rel='icon' type='image/png' sizes='32x32' href='/resources/favicons/favicon-32x32.png')
        link(rel='manifest' href='/resources/favicons/site.webmanifest')
        link(rel='mask-icon' href='/resources/favicons/safari-pinned-tab.svg' color='#3e3f3f')
        link(rel='shortcut icon' href='/resources/favicons/favicon.ico')
        meta(name='msapplication-TileColor' content='#ffffff')
        meta(name='msapplication-config' content='/resources/favicons/browserconfig.xml')
        meta(name='theme-color' content='#ffffff')
    body
        header#main-home
            nav
                .row
                    a(href='/#main-home')
                        img.logo(src='/Omnifood Contents/newlogo.png' alt='OmniFood Logo')
                    a(href='/#main-home')
                        img.logo-black(src='/Omnifood Contents/newlogo.png' alt='OmniFood Logo')
                    ul.main-nav.js--main-nav
                        li
                            a(href="/#feature") Food Delivery
                        li
                            a(href="/#steps") How it Works
                        li
                            a(href="/#cities") Out Cities
                        if user
                            li
                                a(href="/userPage") Profile
                        else
                            li
                                a(href="/signup") Sign Up
                            li
                                a(href="/login") Login
                    a.mobile-nav-icon.js--nav-icon
                        i.ion-navicon-round
            .background-text-box
                h1
                    | GOODBYE JUNK FOOD.
                    br
                    | HELLO SUPER HEALTHY MEALS.
                a.btn.btn-full(href='/allplans') I'm Hungry
                a.btn.btn-empty(href='#feature') Show me more
        section#feature.section-feature.js--section-feature
            .row
                h2 GET FOOD FAST — NOT FAST FOOD
                p.long-copy
                    | Hello, we're Foodie Chacha, your new premium food delivery service. We know
                    | you're always busy. No time for cooking. So let us take care of that,
                    | we're really good at it, we promise!
            .row.js--wp-1
                .col.span-1-of-4.box
                    i.ion-ios-infinite-outline.icon-big
                    h3 UP TO 365 DAYS/YEAR
                    p
                        | Never cook again! We really mean that. Our subscription plans
                        | include up to 365 days/year coverage. You can also choose to order
                        | more flexibly if that's your style.
                .col.span-1-of-4.box
                    i.ion-ios-stopwatch-outline.icon-big
                    h3 READY IN 20 MINUTES
                    p
                        | You're only twenty minutes away from your delicious and super
                        | healthy meals delivered right to your home. We work with the best
                        | chefs in each town to ensure that you're 100% happy.
                .col.span-1-of-4.box
                    i.ion-ios-nutrition-outline.icon-big
                    h3 100% ORGANIC
                    p
                        | All our vegetables are fresh, organic and local. Animals are raised
                        | without added hormones or antibiotics. Good for your health, the
                        | environment, and it also tastes better!
                .col.span-1-of-4.box
                    i.ion-ios-cart-outline.icon-big
                    h3 ORDER ANYTHING
                    p
                        | We don't limit your creativity, which means you can order whatever
                        | you feel like. You can also choose from our menu containing over 100
                        | delicious meals. It's up to you!
        section#meals.section-meals
            ul.meals-showcase.clearfix
                li
                    figure.meal-photo
                        img(src='/resources/img/1.jpg' alt='Food Images')
                li
                    figure.meal-photo
                        img(src='/resources/img/2.jpg' alt='Food Images')
                li
                    figure.meal-photo
                        img(src='/resources/img/3.jpg' alt='Food Images')
                li
                    figure.meal-photo
                        img(src='/resources/img/4.jpg' alt='Food Images')
            ul.meals-showcase.clearfix
                li
                    figure.meal-photo
                        img(src='/resources/img/5.jpg' alt='Food Images')
                li
                    figure.meal-photo
                        img(src='/resources/img/6.jpg' alt='Food Images')
                li
                    figure.meal-photo
                        img(src='/resources/img/7.jpg' alt='Food Images')
                li
                    figure.meal-photo
                        img(src='/resources/img/8.jpg' alt='Food Images')
        section#steps.section-steps
            .row
                h2 How it Works — Simple as 1, 2, 3
            .row
                .col.span-1-of-2.steps-box
                    img.app-screen.js--wp-2(src='/resources/img/app-iPhone.png' alt='Omnifood App on IPhone')
                .col.span-1-of-2.steps-box
                    .works-step
                        div 1
                        p
                            | Choose the subscription plan that best fits your needs and sign up
                            | today.
                    .works-step
                        div 2
                        p
                            | Order your delicious meal using our mobile app or website. Or you
                            | can even call us!
                    .works-step
                        div 3
                        p
                            | Enjoy your meal after less than 20 minutes. See you the next time!
                    a.btn-app(href='#')
                        img(src='/resources/img/download-app.svg' alt='App Store Link')
                    a.btn-app(href='#')
                        img(src='/resources/img/download-app-android.png' alt='Play Store Link')
        section#cities.section-cities
            .row
                h2 We're currently in these cities
            .row.js--wp-3
                .col.span-1-of-4.box
                    img(src='/resources/img/lisbon-3.jpg' alt='Lisbon')
                    h3 Lisbon
                    .city-feature
                        i.ion-ios-person.icon-small
                        |             1600+ happy eaters
                    .city-feature
                        i.ion-ios-star.icon-small
                        |             60+ top chefs
                    .city-feature
                        i.ion-social-twitter.icon-small
                        a(href='#')  @omnifood_lx
                .col.span-1-of-4.box
                    img(src='/resources/img/san-francisco.jpg' alt='San Francisco')
                    h3 San Francisco
                    .city-feature
                        i.ion-ios-person.icon-small
                        |             3700+ happy eaters
                    .city-feature
                        i.ion-ios-star.icon-small
                        |             160+ top chefs
                    .city-feature
                        i.ion-social-twitter.icon-small
                        a(href='#')  @foodiechacha_sf
                .col.span-1-of-4.box
                    img(src='/resources/img/berlin.jpg' alt='Berlin')
                    h3 Berlin
                    .city-feature
                        i.ion-ios-person.icon-small
                        |             2300+ happy eaters
                    .city-feature
                        i.ion-ios-star.icon-small
                        |             110+ top chefs
                    .city-feature
                        i.ion-social-twitter.icon-small
                        a(href='#')  @foodiechacha_berlin
                .col.span-1-of-4.box
                    img(src='/resources/img/london.jpg' alt='London')
                    h3 London
                    .city-feature
                        i.ion-ios-person.icon-small
                        |             1200+ happy eaters
                    .city-feature
                        i.ion-ios-star.icon-small
                        |             50+ top chefs
                    .city-feature
                        i.ion-social-twitter.icon-small
                        a(href='#')  @foodiechacha_london
        section#testimonials.section-testimonials
            .row
                h2 Our Customers can't live without us
            .row
                .col.span-1-of-3
                    blockquote
                        | Foodie Chacha is just awesome! I just launched a startup which leaves me
                        | with no time for cooking, so Foodie Chacha is a life-saver. Now that I
                        | got used to it, I couldn't live without my daily meals!
                        cite
                            img(src='/resources/img/customer-1.jpg' alt='Random People Image')
                            | Vishal Kumar
                .col.span-1-of-3
                    blockquote
                        | Inexpensive, healthy and great-tasting meals, delivered right to my
                        | home. We have lots of food delivery here in Lisbon, but no one comes
                        | even close to Foodie Chacha. Me and my family are so in love!
                        cite
                            img(src='/resources/img/customer-2.jpg' alt='Random People Image')
                            | Sara
                .col.span-1-of-3
                    blockquote
                        | I was looking for a quick and easy food delivery service in San
                        | Franciso. I tried a lot of them and ended up with Foodie Chacha. Best
                        | food delivery service in the Bay Area. Keep up the great work!
                        cite
                            img(src='/resources/img/customer-3.jpg' alt='Random People Image')
                            | ShahRukh
        section#plans.section-plans
            .row
                h2 Start eating healthy today
            .row.plans-card
                .col.span-1-of-3
                    .plan-box.js--wp-4
                        div
                            h3 Premium
                            p.plan-price
                                | $300 
                                span /month
                            p.plan-price-meal That's only 13.30$ per meal
                        div
                            ul
                                li
                                    i.ion-ios-checkmark-empty.icon-small
                                    | 1 meal every
                                    |                   day
                                li
                                    i.ion-ios-checkmark-empty.icon-small
                                    | Order 24/7
                                li
                                    i.ion-ios-checkmark-empty.icon-small
                                    | Access to
                                    |                   newest creations
                                li
                                    i.ion-ios-checkmark-empty.icon-small
                                    | Free
                                    |                   Delivery
                        div
                            a.btn.btn-full(href='/login') Sign Up Now
                .col.span-1-of-3
                    .plan-box
                        div
                            h3 Pro
                            p.plan-price
                                | $149 
                                span /month
                            p.plan-price-meal That's only 13.30$ per meal
                        div
                            ul
                                li
                                    i.ion-ios-checkmark-empty.icon-small
                                    | 1 meal 10
                                    |                   days/month
                                li
                                    i.ion-ios-checkmark-empty.icon-small
                                    | Order 24/7
                                li
                                    i.ion-ios-checkmark-empty.icon-small
                                    | Access to
                                    |                   newest creations
                                li
                                    i.ion-ios-checkmark-empty.icon-small
                                    | Free
                                    |                   Delivery
                        div
                            a.btn.btn-empty(href='/login') Sign Up Now
                .col.span-1-of-3
                    .plan-box
                        div
                            h3 Starter
                            p.plan-price
                                | $19 
                                span /meal
                            p.plan-price-meal  
                        div
                            ul
                                li
                                    i.ion-ios-checkmark-empty.icon-small
                                    | 1 meal
                                li
                                    i.ion-ios-checkmark-empty.icon-small
                                    | Order from 8
                                    |                   am to 12 pm
                                li
                                    i.ion-ios-close-empty.icon-small
                                li
                                    i.ion-ios-checkmark-empty.icon-small
                                    | Free
                                    |                   Delivery
                        div
                            a.btn.btn-empty(href='/login') Sign Up Now
        section#form.section-form
            .row
                h2 We're happy to hear from you
            .row
                form.contact-form(method='POST' action='#')
                    .row
                        .col.span-1-of-3
                            label(for='name') Name
                        .col.span-2-of-3
                            input#name(type='text' name='name' placeholder='Your Name' required='')
                    .row
                        .col.span-1-of-3
                            label(for='email') Email
                        .col.span-2-of-3
                            input#email(type='text' name='email' placeholder='Your Email' required='')
                    .row
                        .col.span-1-of-3
                            label(for='find-us') How did you find us?
                        .col.span-2-of-3
                            select#find-us(name='find-us')
                                option(value='friends' selected='') Friends
                                option(value='linkedin')  Linkedin
                                option(value='ad') Advertisment
                                option(value='other') Others
                    .row
                        .col.span-1-of-3
                            label Newsletter?
                        .col.span-2-of-3
                            input#news(type='checkbox' name='news' checked='')
                            |  Yes,
                            |               Please
                    .row
                        .col.span-1-of-3
                            | Drop us a Line
                        .col.span-2-of-3
                            textarea#message(name='message' placeholder='Your Message')
                    .row
                        .col.span-1-of-3
                        .col.span-2-of-3
                            input(type='submit' value='Send it!')
        footer
            .row
                .col.span-1-of-2
                    ul.footer-nav
                        li
                            a(href='#') About Us
                        li
                            a(href='#') Blog
                        li
                            a(href='#') Press
                        li
                            a(href='#') iOS App
                        li
                            a(href='#') Android App
                .col.span-1-of-2
                    ul.social-links
                        li
                            a(href='#')
                                i.ion-social-facebook
                        li
                            a(href='#')
                                i.ion-social-twitter
                        li
                            a(href='#')
                                i.ion-social-googleplus
                        li
                            a(href='#')
                                i.ion-social-instagram
            .row
                p
                    | Copyright © 2019 by Foodie Chacha. All Rights Reserved.
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
        script(src='https://cdn.jsdelivr.net/respond/1.4.2/respond.min.js')
        script(src='https://cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js')
        script(src='https://cdn.jsdelivr.net/selectivizr/1.0.3b/selectivizr.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js')
        script(src="https://js.stripe.com/v3/")
        script(src='/vendors/js/jquery.waypoints.min.js')
        script(src='/resources/js/ImageUpload.js')
        script(src='/resources/js/script.js')
        script(src='/resources/js/login.js')
