extend base
block mainBlock
    section#plans.section-plans
        .row
            h2 Start eating healthy today
        .row.plans-card
            for plan in plans    
                include plan