extend base
block mainBlock
    section#form.section-reset
        .row
            h2 Reset Password
        .row
            form.contact-form.reset-form
                .row.reset-field
                    .col.span-1-of-3
                        label(for='token') Token
                    .col.span-2-of-3
                        input#pass(type='text' name='token' placeholder='Enter Token' required='' value='')
                .row.reset-field
                    .col.span-1-of-3
                        label(for='password') New Password (8 characters minimum)
                    .col.span-2-of-3
                        input#pass(type='password' name='password' placeholder='Enter Password' minlength='8' required='' value='')
                .row.reset-field
                    .col.span-1-of-3
                        label(for='confirmpassword') Confirm Password
                    .col.span-2-of-3
                        input#confirmpass(type='password' name='confirmpassword' placeholder='Confirm Password' minlength='8' required='' value='')
                .row
                    .col.span-1-of-3
                    .col.span-2-of-3
                        input(type='submit' value='Submit')